.git
.git/**
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.hydra/
**/*.pth
**/*.pt
**/*.ckpt
**/*.tar
**/*.tar.gz
**/*.nii
**/*.nii.gz
**/*.npy
**/*.npz
gc_submission_artifacts/
outputs/
datasets/
